* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}



/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
}

.logo {
  width: 120px;
}

.signin {
  background: red;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}

/* Hero */
.hero {
  position: relative;
  height: 100vh;
  background: url("bg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blur + dark overlay */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6px);
  z-index: 1;
}

/* Keep text above overlay */
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 750px;
}


.hero-content {
  text-align: center;
  max-width: 700px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.email-box {
  display: flex;
  max-width: 700px;
  margin: 1.5rem auto 0;
}

.email-box input {
  flex: 1;
  padding: 18px;
  font-size: 1rem;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.get-started {
  background: #e50914;
  color: #fff;
  border: none;
  padding: 18px 28px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.get-started span {
  margin-left: 8px;
  font-size: 1.4rem;
}


.email-box button {
  width: 30%;
  background: red;
  color: white;
  border: none;
  font-size: 1rem;
}

/* Rows */
.row {
  margin: 40px;
}

.row-posters {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.row-posters img {
  width: 200px;
  transition: transform 0.3s;
}

.row-posters img:hover {
  transform: scale(1.1);
}
/* Trending Section */
.trending {
  padding: 40px 20px;
  color: white;
}

.trending h2 {
  margin-bottom: 20px;
}

/* Scroll row */
.trending-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.trending-row::-webkit-scrollbar {
  display: none;
}

/* Card */
.trending-card {
  position: relative;
  min-width: 200px;
  height: 300px;
  cursor: pointer;
}

.trending-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-left: 40px;
}

/* Big number */
.rank {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 160px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.25);
  line-height: 1;
  z-index: 1;
}

/* Hover effect */
.trending-card:hover img {
  transform: scale(1.05);
  transition: 0.3s;
}

